h2 Name
input.name-input(type="text" placeholder="name")
button.name-submit Submit
p name: {{currentName}}

h2 Chat
input.chat-input(type="text" placeholder="chat message")
button.chat-submit Submit
each comments
  +comment

h3 Current Topic: {{currentTopic}} 
h1 Topics
ul
  li
    span.topic main
    span ({{mainCount}})
  each topics
    li
      span.topic {{name}}
      span ({{topicCount name}})
